@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff;
  font-family: Poppins,sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  scrollbar-color: rgb(142, 142, 142) rgb(255, 255, 255);
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 10px;
}

p{
  font-family: Mulish,sans-serif;
}

.hero-img{
  background: url("/image/about-pic.png");
  background-size: cover;
  background-position: 50%;

  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border: 3px solid black;
}

.about-img{
  background: url("/image/laptop.jpg");
  background-size: cover;
  background-position: 50%;
  border-radius: 20px;
  border: 3px solid black;
}

@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}